spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://doby-db.cpuwfu351hdj.ap-northeast-2.rds.amazonaws.com:13306/stackoverflow?useUnicode=true&characterEncoding=UTF-8&characterSetResults=UTF-8&serverTimezone=Asia/Seoul&useSSL=true
    username: ${MYSQLUSERNAME}
    password: ${MYSQLPASSWORD}
  jpa:
    database: mysql
    hibernate:
      ddl-auto: none

decorator:
  datasource:
    p6spy:
      enable-logging: true

jwt:
  key: ${JWT_SECRET_KEY}

server:
  address: 0.0.0.0